@import 'node_modules/bourbon/app/assets/stylesheets/bourbon';
@import 'node_modules/bourbon-neat/app/assets/stylesheets/neat';
@import '../../settings';

$sidebar-width: 37rem;

.app-layout {
  @include outer-container;
  overflow-x: hidden;
  height: 100vh;

  .navbar {
    display: none;
    width: 100%;
    height: 6em;
    padding: 2em 2em 0 2em;
    background: $color-initial;
    border-bottom: 1px solid $light-gray;

    @include media($mobile) {
      display: block;
    }
  }

  .sidebar {
    @include span-columns(4);
    height: 100%;
    background: #f8f8f8;

    @include media($mobile) {
      position: fixed;
      left: 0;
      top: 0;
      bottom: 0;
      width: $sidebar-width;
      display: none;
    };

    @include media($small-tablet-stop) {
      @include span-columns(5);
    }

    &.toggled {
      @include media($mobile) {
        display: block;
      }
    }
  }

  .content {
    @include span-columns(8);

    @include media($mobile) {
      @include span-columns(12);
    }

    @include media($small-tablet-stop) {
      @include span-columns(7);
    }

    &.toggled {
      @include media($mobile) {
        position: relative;
        left: $sidebar-width;
      }
    }
  }

  .hamburger-menu {
    cursor: pointer;
    padding-left: 1.25em;
    position: relative;
    font-size: 1.4em;
  }

  .hamburger-menu:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0.21em;
    bottom: 0.21em;
    width: 1em;
    background: linear-gradient(
      to bottom,
      black, black 20%,
      white 20%, white 40%,
      black 40%, black 60%,
      white 60%, white 80%,
      black 80%, black 100%
    );
  }
}
