<div class="list-of-clients">
  <div class="client-search-input">
    <input name="search"
      #searchBox
      placeholder="Type to search employee"
      type="search"
      (keyup)="search(searchBox.value)"
      maxlength="12">
  </div>
  <ul>
    <li *ngFor="let client of clients"
      (click)="selectListItem(client)">
      <div class="client-avatar" [style.background-image]="'url(' + client.avatar + ')'">
      </div>
      <div class="client-info">
        <h4>{{client.fullName}}</h4>
        <div>{{client.jobTitle}}</div>
      </div>
    </li>
  </ul>
</div>
